/* 
 * 
 * Personal Website of Michal Škoula. 
 * Feel free to take inspiration, but please don't steal my work :)
 *
 */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
 
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-size:16px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
 :root {

  /* Colors */
  --clr-bg: #14161B;
  --clr-bg-testimonial: #1A1D24;
  --clr-primary: #386EEB;
  --clr-primary-text: #7BA2FD;
  --clr-white: #ffffff;
  --clr-black: #1e1e1e;
  --clr-paragraph: #D3D3D3;
  /* --clr-primary-gradient: linear-gradient(100deg, #1F2433 0%, #1A2545 100%); */
  --clr-primary-gradient: #1D243C;
  --clr-footer-gradient: linear-gradient(100deg, #161A1E 0%, #0E121D 45%, #1A202E 95%);

  /* Sizing - Breakpoints */
  --mobile: 30rem; /* 480px */
  --tablet: 50rem; /* 800px */
  --desktop: 62.5rem; /* 1000px */

  /* Sizing - text */
  --h1: 3rem;
  --h2: 2.5rem;
  --h3: 1.5rem;
  --p: 1rem;
  --small: 0.75rem;

  /* Sizing - Misc */
  --border-radius: 0.625rem;
  --max-content-width: 75rem;
  --content-padding: var(--s700);

  /* Sizing - Design system */
  --px1: 0.0625rem;
  --s100: 0.25rem;  /* 4px */
  --s200: 0.5rem;   /* 8px */
  --s300: 0.75rem;  /* 12px */
  --s400: 1rem;     /* 16px */
  --s500: 1.5rem;   /* 24px */
  --s600: 2rem;     /* 32px */
  --s700: 3rem;     /* 48px */
  --s800: 4rem;     /* 64px */
  --s900: 6rem;     /* 96px */
}
@media screen and (max-width: 30em) {
  :root {
    --h1: 1.8rem;
    --h2: 1.6rem;
    --h3: 1.3rem;
    
    --content-padding: var(-s400);

  }
}

/*
 * Global styling 
 */

body {
  background-color: var(--clr-bg);
  color:var(--clr-paragraph);
  overflow-x: hidden;
}
h1, .h1 {
  font-size: var(--h1);
  line-height: auto;
  font-weight: 600;
  color:var(--clr-white);
  letter-spacing: var(--px1);
}
h2, .h2 {
  font-size: var(--h2);
  line-height: auto;
  font-weight: 500;
  color:var(--clr-white);
  letter-spacing: var(--px1);
}
h3, .h3 {
  font-size: var(--h3);
  line-height: auto;
  font-weight: 400;
  color:var(--clr-white)
}
p, ul, ol, li, a {
  font-size: var(--p);
  line-height: var(--s500);
  font-weight: 400;
}
a:not(.button-primary) {
  color:var(--clr-primary-text);
}
a:not(.button-primary):hover,
a:not(.button-primary):active {
  color:var(--clr-primary);
}
img {
  max-width: 100%;
}
button, .button-primary {
  padding: var(--s300) var(--s500);
  background-color: var(--clr-primary);
  border-radius: var(--border-radius);
  color:var(--clr-white);
  text-decoration: none;
  cursor:pointer;
  transition: color 150ms, background-color 150ms;
  display: inline-block;
  text-align: center;
} 
button:hover, 
button:active,
.button-primary:active,
.button-primary:hover {
  background-color: var(--clr-white);
  color:var(--clr-primary)
}
.max-content-width {
  max-width: var(--max-content-width);
  margin: 0 auto;
  position: relative;
}
.gradient-bg {
  margin:0 auto;
  background: var(--clr-primary-gradient);
  /* max-width: calc(var(--max-content-width) * 0.8); */
}

/* 
* Helper classes - flexbox
*/

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-content: center;
}

/* 
* Helper classes - other
*/
.full-width {
  width: 100%;
}