.bg-primary {
  margin:0 auto;
  /* margin-bottom:130px; */
  background: var(--clr-primary-gradient);
  /* padding-bottom: var(--s700); */
  position: relative;
}
.bg-primary + .divider-left {
  margin-top:-1px;
}