#faq {
  
}
#faq > .max-content-width {
  padding: var(--s700);
  gap:var(--s600);
  display: grid;
  grid-template-columns: 4fr 5fr;
  max-width: 100%;
}
#faq .info {
  max-width: 550px;
}
#faq > h2 {
  margin-bottom: var(--s200);
  display: inline-block;
}
.faq-card:not(:first-child) {
  border-bottom: 1px solid #555555;
  padding: var(--s500) 0 var(--s400) 0;
}
.faq-card:first-child {
  padding-bottom: var(--s400);
  border-bottom: 1px solid #555555;
}
.faq-card > input {
  display: none;
}
.faq-card > label {
  cursor: pointer;
  display: block;
  position: relative;
}
.faq-card p {
  max-width: 90%;
  padding-top:0;
}
.faq-card > label::after {
  content: url(../assets/ico-plus.svg);
  position: absolute;
  top:0;
  right:0;
  height: 35px;
  width: 35px;
  transform: rotate(0);
  transition: transform 300ms;

}
.faq-card .faq-answer {
  pointer-events: none;
  opacity: 0;
  height: 0;
  /* position: absolute; */
  /* transition: opacity 50ms; */
}
.faq-card:has(input:checked) > .faq-answer {
  pointer-events: all;
  opacity: 1;
  height: 100%;
} 
.faq-card:has(input:checked) > label::after {
  transform: rotate(45deg);
}
.faq-card:has(input:checked) > p {
  padding-top: var(--s300);

}
#faq span {
  display: inline-block;
}
span.ico-phone a,
span.ico-mail a {
  color: var(--clr-white);
  text-decoration: none;
  cursor: pointer;
}
span.ico-phone:hover a,
span.ico-mail:hover a {
  color: var(--clr-white);

}
span.ico-phone:hover,
span.ico-mail:hover {
  text-decoration: underline;
}
span.ico-phone::before,
span.ico-mail::before {
  height: 0.813rem;
  width: 0.813rem;
  display: inline-block;
  margin-right: calc(var(--s200) / 3);
}
span.ico-mail::before {
  content:url(../assets/ico-mail.svg);
}
span.ico-phone::before {
  content:url(../assets/ico-phone.svg);
}

@media screen and (max-width:60rem) {
  #faq > .max-content-width {
    grid-template-columns: 1fr;
    gap:var(--s700);
    padding: var(--s800) var(--s500);
  }
  #faq h3 {
    padding-right: var(--s600);
  }
}