#hero {
  max-width: 100%;
  padding: var(--content-padding);
  padding-bottom: var(--s800);
  z-index: 1;
  overflow: hidden;
}
/* Fog for hero section */
#hero .max-content-width {
  padding: 0 var(--s700);
}
#hero .max-content-width::before {
  content: url(../assets/particles.svg);
  width: 1100px;
  position:absolute;
  top:-400px;
  right:0px;
  z-index: -1;
}
#hero-nav {
  margin-bottom:var(--s600);
  flex-wrap: wrap;
}
a.hero-logo {
  height: 100%;
  display: flex;
  align-self: center;
}
#hero-logo {
  height: var(--s600);
}
#hero-nav ul {
  gap: var(--s500);
  align-content: center;
} 
#hero-nav li {
  list-style: none;
  height: fit-content;
  align-self:center;
}
/* Styles for both mobile and desktop navigations */
#hero-nav a:not(.button-primary),
#main-menu a:not(.button-primary) {
  color:var(--clr-white);
  text-decoration: none;
}
#hero-nav a:hover:not(.button-primary),
#main-menu a:hover:not(.button-primary) {
  color: var(--clr-primary-text);
  text-decoration: underline;
}
label.btn-menu-hero {
  z-index: 10000;
}
label.btn-menu-hero img {
  display: none;
  height: var(--s600);
  margin-top:0.35rem;
  cursor: pointer;
}
#btn-menu-hero {
  display: none; 
  /* Hides */
}
.hero-content {
  display: flex;
  margin-top:var(--s700);
  justify-content: space-between;
}
.hero-content .text {
  max-width: 33.125rem /* 530px */;
  z-index: 1;
  align-self: center;
}
.hero-content h1 {
  margin-bottom: var(--s200);
}
.hero-content .button-primary {
  margin-top: var(--s600);
}
#hero-img {
  height:100%;
}
#hero-img > img {
  /* position: absolute; */
  max-width: 28rem;
  right:0;
  z-index: 0;
}
/* Hides transition between bg and image, gradient */
#hero-img::before {
  content:'';
  position: absolute;
  background: linear-gradient(180deg, rgba(120, 18, 18, 0) 0%, rgba(20, 22, 27, 90%) 23%, var(--clr-bg) 80%);
  width: 100%;
  height:50%;
  z-index: 100;
  bottom:calc(var(--s900) * -1);
}
.mobile-display-btn {
  position: relative;
  display: none;
  z-index: 100;
  /* Second button that displays under the image for mobile */
}
#main-menu {
  pointer-events: none;
  opacity: 0;
  position: absolute;
}

@media screen and (max-width: 60rem) {
  
  #hero li:not(.menu) {  
  display: none;
  }
  #hero {
    padding-bottom: 0;
  }
  #hero .max-content-width {
    padding: 0;
  }
  .hero-content {
    justify-content: center;
    flex-direction: column;
    gap: var(--s400);
    justify-self: flex-start;
    min-width: fit-content;
  }
  #hero-img {
    margin: 0 auto;
    width: fit-content;
    min-height: 15.625rem;
  }
  #hero-img > img {
    width: 100%;
  }
  #hero-img::before {
    width: 100vw;
    height: 10%;
    bottom:0;
    left:0;
  }
  
  label.btn-menu-hero img {
    display: inline-block;
  }
  body:has(#btn-menu-hero:checked) {
    overflow: hidden;
    pointer-events: none;
  }
  #main-menu {
    position: inherit;
    display: flex;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    z-index: 1000;
    background-color: rgba(25, 25, 25, 0.845);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    transition: opacity 300ms;
  }
  #main-menu ul {
    justify-self: center;
    text-align: center;
    list-style: none;
    display: flex;
    gap:var(--s500);
  }
  #main-menu a {
    font-size: var(--h3);
  }
  #main-menu .menu {
    position: absolute;
    top:var(--content-padding);
    right:var(--content-padding);
  }
  #main-menu:has(#btn-menu-hero:checked)  {
    pointer-events: all;
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 30rem) {
  #hero .text {
    max-width: 22rem;
  }
  #hero {
    padding: var(--s600) var(--s400) var(--s400) var(--s400);
  }
  .hero-content {
    margin-top: var(--s500);
  }
  #hero .button-primary {
    width: 100%;
  }
  #hero-img::before {
    bottom:10%;
  }
  .desktop-display-btn {
    display: none;
  }
  .mobile-display-btn {
    display: inherit;
  }
  #main-menu .menu {
    top:var(--s600);
    right:var(--s400);
  }
  .hero-content .button-primary {
    margin-top: 0;
    margin-bottom: var(--s600)
  }
}