#projects-showcase {
  padding: var(--content-padding);
}
#projects-showcase .projects-heading {
  margin-bottom: var(--s600);
  flex-wrap: wrap;
}
#projects-showcase .projects-heading a {
  display: inline-block;
  background-color: red;
}
#projects-grid {
  /* background-color: aquamarine; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:var(--s500);
}
#projects-grid h3, 
#projects-grid p, 
#projects-grid a {
  color: var(--clr-black);
  text-decoration: none;
  z-index: 3;
}
#projects-grid h3 {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: var(--s200)
}
#projects-grid .project {
  position: relative;
}
#projects-grid .project > a {
  /* This is the real container, not the <article> */
  background-color: #F8BF6A;
  padding: var(--s600);
  display: block;
  aspect-ratio: 1/1;
  translate: background-color 150ms;
}
#projects-grid .project a:hover, 
#projects-grid .project a:active {
  background-color: #f9b857;
}
.project img {
  position: absolute;
  bottom:0;
  right:0;
  width: 100%;
  z-index: 0;
}
.project::after {
  content:url(../assets/arrow-right.svg);
  position: absolute;
  top:var(--s600);
  right:var(--s600);
  width: 6%;
  aspect-ratio: 1/1;
  transform: translateX(-40%) scale(1.0);
  opacity: 0;
  transition: transform 150ms, opacity 150ms;
  /* color: #f8bf6a8d; */
}
.project:hover::after {
  transform: translateX(0) scale(1.2);
  opacity: 1;  
}
/* 
Mockup display code, TODO
*/
.iphone.iphone {
  /* background-color: rgba(255, 0, 0, 0.216); */
  bottom: -10%;
  right:-7%;
  /* transform: rotate(10deg); */
  transition: transform 250ms;
}
.iphone.iphone:hover {
  transform: scale(1.1);
}
.ipad.ipad {

}
.macbook.macbook {

}
.imac.imac {

}
/* END mockup display code */

@media screen and (max-width: 45rem) {
  #projects-showcase {
    padding: var(--s700) var(--s500);
  }
  .projects-heading {
    flex-direction: column;
    gap:var(--s200);
  }
  #projects-grid {
    grid-template-columns: 1fr;
  }
}