#testimonials h2 {
  text-align: center;
  margin-bottom: var(--s600);
}
.testimonial {
  border-radius: var(--border-radius);
  background-color: var(--clr-bg-testimonial);
  padding: var(--s700) var(--s600);
  width: 100%;
}
.testimonial p:first-child {
  margin-top: var(--s300);
}
.testimonial::before {
  content:url(../assets/quote-right.svg);
}
.swiper-wrapper {
  margin-bottom: 64px;
}
.swiper-pagination-bullet {
  background-color:white !important;
}
#testimonials .author {
  text-align: end;
  margin-top: var(--s300);
}
#testimonials .author p:first-child {
  font-weight: 600;
}